{% extends 'IntegratedWorkflowBundle::layout.html.twig' %}

{% block body %}

<ol class="breadcrumb">
    <li>
        <a href="{{ path('integrated_content_content_index') }}">{% trans %}Home{% endtrans %}</a>
    </li>
    <li class="active">{% trans %}Edit{% endtrans %}</li>
</ol>

<div class="page-header">
    <h1>{% trans %}New{% endtrans %} <small>{% trans %}workflow{% endtrans %}</small></h1>
</div>

<div class="row">
    <div class="col-md-9">
        {{ form(form, { 'style': 'horizontal' }) }}
    </div>
</div>

{% endblock %}